.header-icon {
  margin-right: 0.5rem; /* Adjust the spacing as needed */
  color: #ff0000;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  grid-gap: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.circle-button {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: #3b82f6;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}

.sound-name {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.key-bind {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.play-pause-button {
  position: absolute;
  bottom: 7px;
  left: 17px;
  cursor: pointer;
  transform: scale(2);
}

.showIframe-button {
  position: absolute;
  bottom: -0px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.remove-button {
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
